@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.nav {
	position: absolute;
	top: 0;
	left: 0;
	padding: 1rem;
}

.nav-link:link, .nav-link:visited {
	text-decoration: none;
	color: black;
	font-weight: bolder;
}

.nav-link:hover{
	color: darkgray;
}